<html>
	<head>
		<title>Survey on Sentence Difficulty</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<body>
		<form action="/readability{{ url_for('lang') }}" method="POST">
			<input type="hidden" name="data" value="{{ data }}"/>
            <input type="hidden" name="iso" value="{{ iso }}"/>
            <input type="hidden" name="len" value="{{ len }}"/>
            <input type="hidden" name="level" value="{{ level }}"/>
			<h1>Which sentence is easier?</h1>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="easier" value="{{ sent1id }}" id="sentence1">
				<input type="hidden" name="sentence1" value="{{ sent1id }}">
				<label class="form-check-label" for="sentence1">
					{{ sentence1 }}
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="easier" value="{{ sent2id }}" id="sentence2">
				<input type="hidden" name="sentence2" value="{{ sent2id }}">
				<label class="form-check-label" for="sentence2">
					{{ sentence2 }}
				</label>
			</div><br>
			<input type="submit" name="next" value="Next">
            <h3>{{ len }}/100</h3>
		</form>

	</body>

</html>
