<html>
	<head>
		<title>Survey on Sentence Difficulty</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<title>Which language will you be ranking sentences for?</title>
        <h1>Which language will you be ranking sentences for?</h1>
		<form action="/getlang" method="GET">
			<select name="iso">
                <option value="ca">Català</option>
                <option value="en">English</option>
                <option value="es">Español</option>
                <option value="zu">isiZulu</option>
				<option value="sw">KiSwahili</option>
				<option value="ru">русский</option>
                <option value="fi">Suomi</option>
			</select>
		<p><input type = 'submit' value = 'Submit'/></p>
                </form>
        </h1>
</html>
