<html>
	<title>Which language will you be ranking sentences for?</title>
        <body><p>Which language will you be ranking sentences for?</p>
		<form action="/lang" method="GET">
			<select name="id">
				<option value="fi">Suomi</option>
				<option value="sw">KiSwahili</option>
				<option value="en">English</option>
				<option value="ca">Català</option>
				<option value="es">Español</option>
				<option value="zu">isiZulu</option>
			</select>
		<p><input type = 'submit' value = 'Submit'/></p>
                </form>
        </body>
</html>
