<html>
	<head>
		<title>Survey on Sentence Difficulty</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='my-style.css') }}">
	</head>
	<title>Are you a native speaker of the language?</title>
        <h1>Are you a native speaker of the language?</h1>
		<form action="/readability/getlevel" method="GET">
            <input type="hidden" name="iso" value="{{ iso }}"/>
            <div class="form-check">
				<input class="form-check-input" type="radio" name="level" value="l1" id="native_speaker" required>
<!--				<input type="hidden" name="level" value="l1">-->
				<label class="form-check-label" for="l1">
					Yes
				</label>
			</div>
            <div class="form-check">
				<input class="form-check-input" type="radio" name="level" value="l2" id="nonnative_speaker">
<!--				<input type="hidden" name="level" value="l2">-->
				<label class="form-check-label" for="l2">
					No
				</label>
			</div>
		<p><input type = 'submit' value = 'Submit'/></p>
        </form>
</html>
